<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productSQL">

	<select id="selectProductList" resultType="Product">
   		SELECT P.*, A.CHANGENAME
		FROM PRODUCT P, PATTACHMENT A 
		WHERE P.PNO = A.PNO
		  AND A.PANO = (SELECT MIN(PANO) FROM PATTACHMENT
		  				WHERE PNO = P.PNO)
		<if test="cno != 0">
		  AND P.CNO = #{ cno }
		</if>
		ORDER BY PENROLL DESC, P.PNO DESC
	</select>
	
	<select id="selectProductTotalContents" resultType="int">
		SELECT COUNT(*) FROM PRODUCT
		<if test="cno != 0">
		WHERE CNO = #{ cno }
		</if>
	</select>
	
	<select id="selectOneProduct" parameterType="int" resultType="Product">
		SELECT * FROM PRODUCT WHERE PNO = #{ pno }
	</select>
	
	<select id="selectPAttachmentList" parameterType="int" resultType="PAttachment">
		SELECT *FROM PATTACHMENT WHERE PNO = #{ pno }
	</select>
	
	<select id="selectReviewList" resultType="Review">
		SELECT R.*, (SELECT COUNT(*) FROM RATTACHMENT 
		WHERE RENO = R.RENO) FILECOUNT
		FROM REVIEW R
		WHERE PNO = #{ pno }
		ORDER BY REUPLOADDATE DESC, RENO DESC
	</select>
	
	<select id="selectOneReview" parameterType="int" resultType="Review">
		SELECT * FROM REVIEW 
		WHERE PNO = #{ pno }
	</select>
	
	<select id="selectRAttachment" parameterType="int" resultType="RAttachment">
		SELECT * FROM RATTACHMENT 
		WHERE RENO = #{ reno }
	</select>
	
	<select id="selectSearch" resultType="Product">
		<!-- SELECT * FROM PRODUCT WHERE REGEXP_LIKE( pname , #{pname}) -->
		
		SELECT P.*, A.CHANGENAME
		FROM PRODUCT P, PATTACHMENT A 
		WHERE P.PNO = A.PNO
		  AND A.PANO = (SELECT MIN(PANO) FROM PATTACHMENT
		  				WHERE PNO = P.PNO)
		<if test="cno != 0">
		  AND P.CNO = #{ cno }
		</if>
		AND REGEXP_LIKE( pname , #{pname})
		ORDER BY PENROLL DESC, P.PNO DESC
	</select>
	
	<select id="selectAllSearch" resultType="int" parameterType="Product">
		SELECT COUNT(*) FROM PRODUCT WHERE REGEXP_LIKE( pname, #{pname})
	</select>
	 
</mapper>
