@charset "UTF-8";

section {
	width: 1400px;
	/* background-color: crimson; */
	margin-right: auto;
	margin-left: auto;
	font-family: 'Nanum Gothic', sans-serif;
}

.top {
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.top2 {
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.title {
	font-size: 25px;
}

.title2 {
	font-size: 18px;
	font-weight: bold;
}

.order_tb {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#orderList, #orderList2, #orderList3 {
	border-collapse: collapse;
	text-align: center;
}

#orderList th {
	height: 35px;
	border-top: 2px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: #ececec;
}

#orderList td {
	border-bottom: 1px solid lightgray;
}

#orderList tbody tr td:first-child {
	padding: 5px 0 5px 0;
	font-size : 16px;
}

#orderList2 tr td:first-child {
	width: 200px;
	height: 30px;
	text-align: center;
}

#orderList2 tr td:last-child {
	width: 1030px
}

#orderList3 tr td:first-child {
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

#orderList3 tr td:last-child {
	width: 1030px;
	font-size: 28px;
	font-weight: bold;
	color: rgb(231, 133, 110);
}

.customerInfo, .customerInfo2, .deliveryInfo, .deliveryInfo2 {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.input-label-wrap, .input-zipcode-wrap {
	margin: 30px;
}

.input-label-wrap label, .input-zipcode-wrap label {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	color: #999;
}

.input-label-wrap input {
	padding: 0 30px;
	width: 1100px;
	height: 50px;
	font-size: 20px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	/* outline: none; */
	/* background-color: #fff; */
	/* -webkit-box-sizing: border-box; */
	box-sizing: border-box;
}

.input-zipcode-wrap input {
	padding: 0 30px;
	width: 900px;
	height: 50px;
	font-size: 20px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	/* outline: none; */
	/* background-color: #fff; */
	/* -webkit-box-sizing: border-box; */
	box-sizing: border-box;
	padding-right: 176px;
}

.paymentInfo {
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
}

.deliveryInfo2 div:nth-child(3) input, .deliveryInfo2 div:nth-child(4) input
	{
	background-color: #fafafa;
}

#getInfo {
	/* float: right; */
	margin-left: 850px;
	font-weight: 600;
	color: rgb(94, 94, 94);
}

#searchZipcodeBtn {
	width: 180px;
	height: 50px;
	/* position: absolute; */
	/* right: 0; */
	/* top: 50%; */
	/* margin-top: -25px; */
	background-color: #333;
	border: none;
	color: #fff;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 25px;
	cursor: pointer;
}

.btnArea {
	height: 40px;
	text-align: center;
}

#orderBtn {
	width: 400px;
	height: 50px;
	border: 0px;
	border-radius: 25px;
	background-color: rgb(231, 133, 110);
	font-size: 16px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}